@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@layer base {
    body {
        @apply bg-teal-50;
    }

    h1{
        color: #F7F7F7;
        @apply text-3xl font-bold;
    }

    h3 {
        @apply text-xl;
        color: #3B3B3B;
    }

    p {
        @apply mb-4 leading-relaxed;
        color: #626262
    }

    label {
        @apply mb-4 leading-relaxed text-sm;
        color: #626262
    }

    a {
        @apply text-blue-600 hover:text-blue-800 underline;
    }

    ul, li {
        @apply leading-relaxed;
        color: #626262
    }

    input{
        max-width: 240px;
        @apply sm:max-w-80;
    }

    input[type="text"],
    input[type="email"],
    input[type="number"],
    textarea {
        @apply border rounded-md px-3 py-1 focus:outline-none focus:ring-2 focus:ring-teal-100;
    }

    button {
        @apply px-4 text-teal-50 bg-teal-400 py-2 rounded-md font-medium transition-colors duration-200 hover:bg-teal-600;
    }
}